/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 
 @import "./reset";
 @import "./buttons";
 @import "./headers";
 @import "./lines";
 @import "./errors";
 @import "./forms";
 @import "./navbar";
 @import "./containers";
 @import "./playlists";
 @import "./player";
 @import "./modal";
 
 input {
     width: 450px;
     height: 40px;
     font-size: 16px;
    }
    
.splash-back {
    background-image: url(https://www.scdn.co/i/home/hero-burst.svg);
    // background-image: url('https://www.scdn.co/i/home/hero-burst-mobile.svg');
    height: 95vw;
    background-color: orange;
    background-repeat: no-repeat;
    background-position: center;
    // background-position-y: -375px;
}

.div-flex {
    display: flex;
    width:150px;
}

.index-link-cont {
    display: flex;
    align-items: flex-end;
    height: 110px;
}

.index-link {
    font-size: 22px;
    font-weight: 500;
    color: #3b5998;
}

.background-gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.65) 70%);
}