/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 //#1DB954  'spotify green'

 @import "./reset.scss";
h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    font-family: Open Sans;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 22px;
}

.form-box {
    // border: 1px solid black;
    display: flex;
    justify-content: center;
}

input {
    width: 400px;
    height: 40px;
    font-size: 16px;
}

.welcome {
    border-bottom: 1px solid grey;
}