/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 //#1DB954  'spotify green'

 @import "./reset.scss";
 @import "./buttons.scss";
 @import "./headers.scss";

.stupify-head {
    border-bottom: 1px solid #dfe0e6;
    height: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.form-box {
    // border: 1px solid black;
    display: flex;
    justify-content: center;
}

input {
    width: 450px;
    height: 40px;
    font-size: 16px;
}

.header-name {
    font-size: 30px;
}

.header-button {
    background-color: #3b5998;
    color: white;
    border-radius: 10px;
    width: 110px;
    height: 30px;
}
// .welcome {
    
// }

.logo {
    width: 90px;
    height: 90px;
}

.or-out-cont {
    display: flex;
    justify-content: center;
}

.or-cont {
    width: 456px;
    display: flex;
    justify-content: center;
}



// .or-bar {
//     display: flex;
//     width: 480px;
//     border-bottom: 1px solid grey;
//     justify-content: center;
//     margin-bottom: 10px;
// }

.or-line {
    border-bottom: 1px solid #dfe0e6;
    margin-bottom: 10px;
    width: 228px;
}

.or-text {
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    transform: translate(0px,-3px);
}
// .tos {
//     float: initial;
//     justify-content: center;
// }

