.logout-btn {
    background-color: #1DB954;
    color: white;
    border-radius: 10px;
    width: 110px;
    height: 30px;
}

.button-cont {
    display: flex;
    justify-content: center;
}

.btn {
    font-family: 'Cabin', sans-serif;
    color: white;
    border-radius: 50px;
    width: 310px;
    height: 45px;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    opacity: .85;
}

.green-btn {
    background-color: #1DB954;
}

.guest-cont {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.guest-btn {
    background-color: #3b5998;
}

.signup-btn-cont {
    display: flex;
    justify-content: center;
}

.signup-btn {
    color: #9b9b9b;
    border-color: #9b9b9b;
    border-radius: 50px;
    border-width: 2.25px; 
    font-weight: 900;
    margin-top: 25px;
}

.signup-btn:hover {
    background-color: #616467;
    color: white;
}