#pl-title-cnt {
    display: flex;
    // height: 75px;
    justify-content: center;
    margin-top: 10px;
}

.pl-show-cnt {
    display: flex;
    justify-content: center;
    // align-items: center;
    // flex-direction: column;
    width: 100%;
    // width: 2000px;
    height: 100%;
    background: brown
}

.playlist-cnt {
    width: 60%;
    display: flex;
    justify-content: center;
}

.songs-cnt {
    display: flex;
    flex-direction: column;
}

#pl-index-cnt {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: rgba(0,0,0,.7);
}

#create-pl-cnt {
    height: 400px;
    background-color: grey;
}

.pl-info-pane {
    // background-color: rgba(0,0,0,.1);
    display: flex;
    height: 100%;
    width: 40%;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
}


#pl-index-big-cnt {
    display: flex;
    justify-content: space-between;
    height: 550px;
    background-color: rgba(0,0,0,.3);
    flex-wrap: wrap;
}

.pl-index-cnt {
    display: flex;
    flex-direction: column;
}

#pl-show-big-cnt {
    display: flex;
    width: 100%;
    height: 900px;
}

.pl-album-cnt {
    width: 230px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    background-color: brown
}

.side-icon-link-cnt {
    display: flex;
    border: 0;
    width: 89%;
    height: 40px;
    // flex-direction: column;
    align-items: center;
}

.side-icon-link-cnt {
    cursor: pointer;
}
.song-list-header {
//   display: -webkit-box;
//   display: -ms-flexbox;
  display: flex;
//   -webkit-box-orient: horizontal;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: row;
//   flex-direction: column;
//   -webkit-box-pack: start;
//   -ms-flex-pack: start;
  margin: 0 0 20px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid hsla(0,0%,100%,.1);
//   background: linear-gradient(to bottom, rgba(204, 102, 0, 0.4) 0, rgba(204, 102, 0, 0.65) 70%);
//   background: linear-gradient(rgba(255, 153, 0, 0.4) 0, rgba(77, 46, 0, 0.65) 87%);
  background: linear-gradient(rgba(255, 153, 0, 1) 0, rgba(51, 30, 0, 1) 87%);
  padding: 30px 32px 0px 49px;
}

#pl-show-art {
  height: 255px;
  width: 255px;
}

#pl-show-art:hover {
  height: 255px;
  width: 255px;
  background-color: black;
  opacity: .85;
}

#pl-info-cnt {
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#curr-user-cnt {
    width: 100%;
    display: flex;
    align-items: center;
    transform: translate(-24px, 0px);
    margin-left: 4px;
    border-top: .1px solid #dfe0e6;
    padding-top: 8px;
}

#song-row-cnt {
    width: 680px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 72px;
}

#song-row-cnt:hover {
    width: 680px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 72px;
    // background: rgb(38, 38, 38, .8)
    background-color: rgba(0,0,0,.6);
    // background: linear-gradient(#rgb(38, 38, 38) 0, #006600 87%);
}

#song-info {
    width: 450px;
    margin-left: -90px;
    display: flex;
    font-size: 18px;
    font-weight: 1000;
    font-family: 'Cabin', sans-serif;
    flex-direction: column;
    padding-left: 5px;
}

#song-duration-cont {
    display: flex;
    justify-content: space-between;
}

#logout-text-cnt {
    display: flex;
    margin-left: 6px;
}

#close-x-cnt {
    display: flex;
    justify-content: center;
}

#pl-add-cnt {
    display: flex;
    justify-content: center;
}

#pl-select-show-cnt {
    color: white;
    font-size: 27px;
}