.pl-title-cnt {
    display: flex;
    height: 75px;
    justify-content: center;
}

.pl-show-cnt {
    display: flex;
    justify-content: center;
    // align-items: center;
    // flex-direction: column;
    width: 100%;
    // width: 2000px;
    height: 100%;
    background: brown
}

.playlist-cnt {
    width: 100%;
    display: flex;
    justify-content: center;
}

.songs-cnt {
    display: flex;
    flex-direction: column;
}

#pl-index-cnt {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: rgba(0,0,0,.7);
}

#create-pl-cnt {
    height: 400px;
    background-color: grey;
}

.pl-show-title-cnt {
    // background-color: rgba(0,0,0,.1);
    height: 1000px;
    display: flex;
    // justify-content: center;
}


#pl-index-big-cnt {
    display: flex;
    justify-content: space-between;
    height: 550px;
    background-color: rgba(0,0,0,.3);
}

.pl-index-cnt {
    display: flex;
    flex-direction: column;
}

#pl-show-big-cnt {
    display: flex;
    width: 100%;
}

.pl-album-cnt {
    width: 230px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    background-color: brown
}

.side-icon-link-cnt {
    display: flex;
    border: 0;
    width: 100%;
    padding: 0 24px;
    height: 40px;
    justify-content: space-around;
    // flex-direction: column;
}
