.pl-title-cont {
    display: flex;
    height: 75px;
    justify-content: center;
}

.div-pl-show-cont {
    display: flex;
    justify-content: space-around;
}

.playlist-cont {
    border: 2px solid #3b5998;
}

.songs-cnt {
    display: flex;
    flex-direction: column;
    border: 2px solid #1DB954;
    align-items: center;
}

#pl-index-cnt {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: rgba(0,0,0,.7);
}

#create-pl-cnt {
    height: 400px;
    background-color: grey;
}

.pl-shw-cnt {
    background-color: rgba(0,0,0,.1);
    height: 1000px;
}