h4 h6 input {
    font-family: 'Cabin', sans-serif;
    // font-family: Circular, Helvetica, Arial, sans-serif;
    font-weight: 1000;
} 
h1 {
    font-size: 38px;
    font-weight: 1000;
    font-family: 'Cabin', sans-serif;
    // font-family: Circular, Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 25px;
    font-weight: 1000;
    font-family: 'Cabin', sans-serif;
    // font-family: Circular, Helvetica, Arial, sans-serif;
}

h3 { 
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 1000;
    font-family: 'Cabin', sans-serif;
}

h4 {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 1000;
    font-family: 'Cabin', sans-serif;
    // font-family: Circular, Helvetica, Arial, sans-serif;
}



h5 {
    font-size: 12px;
    width: 320px;
    font-family: 'Cabin', sans-serif;
    // font-family: Circular, Helvetica, Arial, sans-serif;
}



.header-name {
    font-size: 30px;
    width: 200px;
}

.stupify-head-text {
    margin-top: 25px;
}


.stupify-head {
    border-bottom: 1px solid #dfe0e6;
    height: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.h2-pl {
    border-bottom: 1px solid black;
}

#pl-title {
    // flex-direction: flex-start;
    color: white;
    font-size: 28px;
}

#song-list-header {
    // display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
//   -webkit-box-orient: horizontal;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: row;
  flex-direction: row;
//   -webkit-box-pack: start;
//   -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 0 20px;
  max-width: 100%;
  padding-bottom: 20px;
  height: 190px;
  border-bottom: 1px solid hsla(0,0%,100%,.1);
}