.nav-bar-auth {
    width: 100%;
    height: 90px;
    background: transparent;
    background-color: #222326;
    background-color: rgba(0,0,0,.7);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.nav-bar-curr-user {
    width: 100%;
    height: 90px;
    background: transparent;
    background-color: rgba(0,0,0,.7);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
}

.nav-head-text {
    margin-top: 25px;
    color: white;
    transform: translate(0px,3px);
}

.nav-head-text-player {
    margin-top: 25px;
    color: white;
    transform: translate(0px,-10px);
    align-self: baseline;
}

.nav-logo {
    width: 40px;
    height: 40px;
    transform: translate(-9px, -5px);
    background: transparent;
    align-self: center;
}

.login-signup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
}

.link-auth {
    font-size: 20px;
    font-weight: 1000;
    font-family: 'Cabin', sans-serif;
    color: white;
    text-decoration: none;
}

.header-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-75px, 10px)
}

.logo-box {
    display: flex;
    justify-content: flex-end;
    width: 276px;
}

.logo-box-pl {
    display: flex;
    justify-content: center;   
    height: 63px; 
    padding-top:25px;
    width: 100%;
}

.sidebar-cnt {
    width: 230px;
    background-color: rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pl-side-sm-icon {
    height: 24px;
    width: 24px;
}

#pl-side-home-link {
    color: white;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
}

#pl-side-search-link {
    color: white;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
}

#pl-side-library-link {
    color: white;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
}

