.nav-bar-auth {
    width: 100%;
    height: 90px;
    background: transparent;
    background-color: #222326;
    background-color: rgba(0,0,0,.7);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.nav-bar-curr-user {
    width: 100%;
    height: 90px;
    background: transparent;
    background-color: rgba(0,0,0,.7);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
}

.nav-head-text {
    margin-top: 25px;
    color: white;
    transform: translate(0px,3px);
}

.nav-head-text-player {
    margin-top: 25px;
    color: white;
    transform: translate(0px,-10px);
    align-self: baseline;
}

.nav-logo-greet {
    width: 40px;
    height: 40px;
    transform: translate(-9px, 21px);
    background: transparent;
    align-self: baseline;
    padding-left: 34px;
}

.nav-logo-pl {
    width: 40px;
    height: 40px;
    transform: translate(-9px, -1px);
    background: transparent;
    align-self: baseline;
    padding-left: 34px;
}

.login-signup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
}

.link-auth {
    font-size: 20px;
    font-weight: 1000;
    font-family: 'Cabin', sans-serif;
    color: white;
    text-decoration: none;
}

.header-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-75px, 10px)
}

.logo-box {
    display: flex;
    justify-content: flex-end;
    width: 276px;
}

.logo-box-pl {
    display: flex;
    height: 35px; 
    padding-top:19px;
    width: 100%;
}

.sidebar-cnt {
    height: 94vh;
    width: 14%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pl-side-sm-icon {
    height: 3.5vh;
    filter: invert(97%) sepia(9%) saturate(0%) hue-rotate(191deg) brightness(83%) contrast(93%);
    &-user {
        height: 3.5vh;
        filter: invert(97%) sepia(9%) saturate(0%) hue-rotate(191deg) brightness(83%) contrast(93%);
        margin-left: .5vw;
    }
}

.pl-select-close {
    height: 31px;
    width: 31px;
    filter: invert(97%) sepia(9%) saturate(0%) hue-rotate(191deg) brightness(83%) contrast(93%);
}

#pl-side-home-link {
    color: rgb(204, 204, 204);
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    margin-left: 15px;
}

#pl-side-search-link {
    color: rgb(204, 204, 204);
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    margin-left: 15px;
}

#pl-side-library-link {
    color: rgb(204, 204, 204);
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    margin-left: 15px;
}

#curr-user-text {
    color: rgb(204, 204, 204);
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    margin-left: 14px;
    font-size: 14px;
}

#logout-text {
    color: rgb(204, 204, 204);
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    margin-left: 14px;
    align-self: center;
    font-size: 14px
}

#logout-text:hover {
    cursor: pointer;
}

#side-recently-played {
    height: 37%;
    width: 100%;
}