#player-cnt {
    height: 90px;
    // background-color: rgba(0,230,0,1);
    // background-color: rgba(0,102,0,1);
    // background: linear-gradient(rgba(89, 89, 89, 1) 0, rgba(115, 115, 115, 1) 67%);
    background: linear-gradient(#595959 0, #282828 67%);
    background-color: #282828;
    padding: 0px 16px;
    display: flex;
    // justify-content: center;
    // justify-content: space-around;
    // align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%
}


#player-heart-no {
    height: 16px;
    width: 20px;
    filter: invert(97%) sepia(9%) saturate(0%) hue-rotate(191deg) brightness(83%) contrast(93%);
}

#player-heart-yes {
    height: 16px;
    width: 20px;
}

#player-random {
    height: 16px;
    width: 20px;
    filter: invert(97%) sepia(9%) saturate(0%) hue-rotate(191deg) brightness(83%) contrast(93%);
}
#player-back {
    height: 16px;
    width: 20px;
    filter: invert(97%) sepia(9%) saturate(0%) hue-rotate(191deg) brightness(83%) contrast(93%);
}
#player-play {
    height: 32px;
    width: 32px;
    filter: invert(97%) sepia(9%) saturate(0%) hue-rotate(191deg) brightness(83%) contrast(93%);
}
#player-forward {
    height: 16px;
    width: 20px;
    filter: invert(97%) sepia(9%) saturate(0%) hue-rotate(191deg) brightness(83%) contrast(93%);
}
#player-repeat {
    height: 16px;
    width: 20px;
    filter: invert(97%) sepia(9%) saturate(0%) hue-rotate(191deg) brightness(83%) contrast(93%);
}
#player-volume-up {
    height: 16px;
    width: 20px;
    filter: invert(97%) sepia(9%) saturate(0%) hue-rotate(191deg) brightness(83%) contrast(93%);
}

#player-song-info {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    margin-left: 8%;
}
#player-control-ctn {
    display: flex;
    justify-content: space-around;
    height: 65px;
    align-items: center;
    width: 220px;
    align-self: flex-end;
    transform: translate(18px, -2px);
    flex-wrap: wrap;
    margin-left: 31%;
}

#player-volume-ctn {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    transform: translate(150px, 0px);
    margin-left: 18%;
}

.song-progress-cont {
    width: 250px;
    height: 50px;
    transform: translate(0px, -30px);
    // display: flex;
}

.song-progress {
    width:100%;
    margin-top: 40px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dfe0e6;
}


